.item-wraper {
    color: black;
    border: 1px solid black;
    margin: 10px 5px;
    width: 183px;
    text-align: center;

    :global {
        .item__bottom {
            display: flex;
        }

        .item__name {
            font-size: 12px;
        }

        .item__image {
            width: auto;
            height: 112px;
        }

        .item__bid-price {
            padding-top: 10px;
            color: rgb(0, 100, 49);
            font-size: 19px;
            font-weight: bold;
        }

        .item__bid-time {
            padding-top: 10px;
            font-size: 16px;
            text-shadow: rgb(213, 213, 213) 1px 1px 1px;
            color: rgb(85, 85, 85);
            font-weight: bold;
        }

        .item__bid-duration {
            font-size: 12px;
            text-shadow: rgb(255, 255, 255) 1px 1px 1px;
            color: rgb(85, 85, 85);
            font-weight: bold;
            margin-bottom: 4px;
            margin-top: 4px;
        }

        .item__bid-cooldown {
            color: rgb(85, 85, 85);
            text-shadow: rgb(213, 213, 213) 1px 1px 1px;
            font-weight: bold;
            font-size: 19px;
        }

        .item__button {
            cursor: pointer;
            height: 34px;
            background-image: linear-gradient(rgb(105, 110, 119), rgb(74, 76, 83));
            color: rgb(213, 213, 213);
            text-shadow: rgb(51 51 51) 1px 1px 0px;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            border: 1px solid black;
            border-width: 1px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &.can-bid {
                text-shadow: rgb(242 234 100) 1px 1px 0px;
                color: black;
                background-image: linear-gradient(rgb(242, 234, 100), rgb(233, 200, 72));
            }
        }

        .item__buy-now {
            cursor: pointer;
            font-size: 12px;
            font-weight: 400;
            background-image: linear-gradient(rgb(254, 254, 254), rgb(221, 221, 221));
            text-shadow: rgb(247, 247, 247) 1px 1px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 27px;
            text-shadow: rgb(247 247 247) 1px 1px 0px;

            &:hover {
                background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242), rgb(242, 242, 242));
            }
        }

    }
}